<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Academia de Kung Fu e Boxe Chinês localizada no bairro da Mooca." />
    <meta name="keywords" content="Academia de Kung Fu, Kung Fu Mooca, Kung Fu, Boxe Chines, Academia de Boxe Chines, Boxe Chines Mooca">
    <meta name="author" content="Fernando Bigal">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/estilo.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="~/Content/img/kwankun_icone.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/Index.min.js"></script>

</head>
<body>
    @RenderBody()
    
    <footer class="container-fluid fundofooter" id="fundofooter">
        <div class="container" id="contatoDeveloper">
            <h5><small>Developed by Fernando Bigal</small></h5>&nbsp;
            <a href="https://www.linkedin.com/pub/fernando-bigal/78/75b/21" target="blank"><i class="fa fa-linkedin-square"></i></a>
            <i class="fa fa-skype"> fernando.bigal</i><br />
            <i class="fa fa-envelope" style="font-size:13px;"> bigal.fernando@gmail.com</i>
        </div><br />
    </footer>
</body>
</html>